.janela-SE {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}
.janela-SE.abrir {
  display: flex;
}
.modal_SE {
  position: relative;
  width: 90%;              
  max-width: 1200px;       
  height: 70vh;            
  background: rgba(255, 255, 255, 0.95);
  border-radius: 20px;
  overflow: hidden;
  padding: 20px;
  backdrop-filter: blur(10px);
  padding: 120px;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1200px;
}
.modal-content-wrapper {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  gap: 20px;
  height: 100%;
}
.modal-image-left {
  flex: 1.2;
}
.modal-image-left img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  object-fit: cover;
}
.modal-info-right {
  flex: 1;
  color: #333;
}
.modal-info-right h1 {
  margin-bottom: 1rem;
  color: brown;
  font-size: 1.8rem;
}
.fechar {
  position: absolute;
  top: 15px;
  right: 15px;
  background: brown;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
}
.fechar:hover {
  background: rgb(102, 26, 26);
}
@media (max-width: 768px) {
  .modal-content-wrapper {
    flex-direction: column;
  }
}