.janela-ES {
  display: none; 
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  background: rgba(0, 0, 0, 0.5);
}

.janela-ES.abrir16 {
  display: flex;
}

.modal_ES {
   position: relative;
  width: 80%;
  height: 60%;
  background: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(10px);
  padding: 120px;
  border-radius: 20px;
}

.fechar16 {
  position: absolute;
  top: -7px;
  right: -7px;
  background: brown;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 16px;
}